.active_red {
  color: white;
}

.active_red:hover {
  color: white !important;
}

body {
  background-color: #ecf0f5;
}

.hiddenClass {
  display: none;
}

.login-page {
  background: #1D1C1A !important;
}

.btn-orange,
.btn-info {
  background: #F1B510 !important;
  color: #fff !important;
  border: 1px solid #F1B510;
}

.btn-orange:hover,
.btn-info:hover {
  border: 1px solid #F1B510;
}

.login-box-body {
  background: white;
}

.bootbox-sm-uw .bootbox-body {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.bootbox-sm-uw .modal-body {
  background: #fff !important;
  background-color: #fff !important;
}

.bootbox .box {
  background: #1D1C1A !important;
  background-color: #1D1C1A !important;
  margin-bottom: 0px;
}

.bootbox .box-body {
  background: #fff !important;
  background-color: #fff !important;
}

.bootbox .modal-footer {
  background: #fff !important;
  background-color: #fff !important;
  padding-top: 0px;
  padding-bottom: 0px;
  border: 0px;
}

.bootbox .modal-footer .btn {
  margin-top: 15px;
  margin-bottom: 15px;
}

.bootbox-sm-success .bootbox-body {
  background: #a0e7ac;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.bootbox-sm-success .modal-footer {
  display: none;
}

.bootbox-sm-danger .bootbox-body {
  background: #e7afaf;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.bootbox-sm-danger .modal-footer {
  background: #e7afaf !important;
  background-color: #e7afaf !important;
}

.box {
  border: 1px solid #6A6A6A !important;
  border-radius: 0px !important;
}

.box-header {
  background-color: #6A6A6A !important;
}

.box-tools .btn {
  background-color: #febf0f !important;
  color: #1D1C1A;
}

.input-group {
  width: 100%;
}

.input-group .iga-20-percent {
  width: 20%;
}

.input-group .iga-32-percent {
  width: 32%;
}

.input-group .input-group-addon {
  background-color: #ececec !important;
  text-align: left;
}

.input-group input {
  width: 100% !important;
}

@media (max-width: 768px) {
  .sm-user {
    width: 100% !important;
  }
}

.box-container .bg-brown {
  background-color: #6A6A6A !important;
}

.box-container .bg-brown a {
  color: #fff;
}

.box-container .bg-brown:hover {
  background-color: #424242 !important;
}

.box-container p {
  text-align: center;
  font-size: 22px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.box-container img {
  padding-left: 35%;
  padding-right: 35%;
  padding-top: 35px;
}

.box-container a {
  color: #fff;
}

@media (max-width: 768px) {
  .box-container p {
    font-size: 18px;
  }
}

.sm-arrow::before {
  font-family: FontAwesome;
  content: "\F063" !important;
}

